.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageBox {
  transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.imageBoxTransform {
  transform: translateX(40px);
}

.img {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.baseImg {
  position: relative;
}

.personContainer {
  width: 100%;
}

.personImg {
  max-width: 100%;
  max-height: 100%;
}

.glove {
  transition: transform 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.gloveHide {
  transform: scale(0);
}

.overlapImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.backgroundImg {
  max-height: 100%;
  max-width: 100%;
}

.hide {
  visibility: hidden;
  pointer-events: none;
}
