.wrapper {
  max-width: calc(100% - 80px);
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  width: calc(100% + 2px);
  height: 100%;
  position: absolute;
  top: -1;
  left: -1;
  background-color: #fff;
  opacity: .85;
  display: flex;
  align-items: center;
  justify-content: center;
}
